@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    outline: none;
}
* {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(115, 162, 223);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(115, 162, 223);
}
